#container{
    text-align: center;
}
#parent{
    width:50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    
}
.entity{
    width:40px;
    height:40px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#history{
    display: block;
}
#hide{
    display: none;
}